.dashboard-cards {
  margin: 1rem;
  display: flex;
  gap: 2rem;
}

.dashboard{
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.recent-documents {
  margin: 1rem;
  /* display: inline-block; */
  width: 42%;
  border: 1px solid hsla(0, 0%, 0%, 0.1);
  border-radius: 0.5rem;
  box-shadow: 3px 3px 10px hsla(0, 0%, 0%, 0.1);
  padding: 1rem;
}

.upcoming-schedule {
  margin: 1rem;
  /* display: inline-block; */
  width: 42%;
  border: 1px solid hsla(0, 0%, 0%, 0.1);
  border-radius: 0.5rem;
  box-shadow: 3px 3px 10px hsla(0, 0%, 0%, 0.1);
  padding: 1rem;
}

.documents-footer{
  display: flex;
  justify-content: space-between;
}
