
.noAccess {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(212, 212, 212), #e8e8e8);
    color: #2c2c2c;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

.noAccess h1 {
    font-size: 5rem;
    padding-bottom: 0.5rem;
    margin: 0;
    color: #4a4a4a;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.noAccess p {
    font-size: 2rem;
    margin: 0;
    color: #5a5a5a;
}

.waterMark {
    font-size: 1rem;
    color: rgba(137, 137, 137, 0.8);
    padding-top: 2rem;
    font-style: italic;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
