.authorization-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 1rem;
}

.authorization-form input {
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  background: rgba(158, 179, 182, 0.3);
  color: #a1a1a1;
}

.authorization-form input::placeholder {
  color: #a1a1a1;
}

.authorization-form button {
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 2.5rem;
}

.authorization-form button:hover {
  background: #0e0e0e;
}

.authorization-form p {
  text-align: right;
  margin: 0;
}
/* 
svg{
  position: absolute;
  padding-top: 8px;
  padding-left: 3px;
} */
